* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF-Pro', sans-serif;
}

/* Define the font for regular weight */
@font-face {
    font-family: 'SF-Pro';
    src: url('/fonts/SF-Pro.ttf') format('truetype');
    font-weight: normal; /* Could also use 400 here */
    font-style: normal;
}
@font-face {
    font-family: 'SF-Pro';
    src: url('/fonts/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: bold; /* Could also use 400 here */
    font-style: normal;
}
/* Define the font for thin weight */
@font-face {
    font-family: 'SF-Pro';
    src: url('/fonts/SF-Pro-Display-Thin.otf') format('opentype');
    font-weight: 100; /* 'thin' is usually 100 weight */
    font-style: normal;
}

.header {
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header__tittle-options {
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 20px;
    width: 100%;
    justify-content: center;
    display: flex;
}

.navbar {
    height: 30px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(0, 0, 0);
    border: solid rgb(0, 0, 0);
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
    background-color: #353535;
}

body,
html {
    background-color: rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.presupuestos {
    display: flex;
    padding: 30px;
    flex-direction: column;
    height: 100%;
    align-items: left;
    background-color: rgba(175, 175, 175, 0.486);
}

.presupuestos__title {
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    border-radius: 15px;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: center;


}

.button--add {
    margin-bottom: 10px;
    color: #000000;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    border: solid black;
}

.presupuesto__columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.presupuesto__table {
    width: 100%;
}
.tables{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.tittle{
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #000000;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    font-size: 15px;
    font-weight: 600;
    width: 100%; 
}

.presupuestos__tables-container{
    width: 100%;
    background-color: white;
    border: solid;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
   
}

th,
td {
    background-color: rgb(94, 93, 93);
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    color: #ffffff;
}

.presupuestos__button-delete {
    background-color: rgb(173, 0, 0);
    color: #ffffff;
    border: none;
    padding: 5px;
}

.presupuestos__button-edit {
    background-color: rgb(45, 68, 43);
    color: #ffffff;
    border: none;
    padding: 5px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    color: white;
    letter-spacing: 20px;
    font-size: 15px;
    padding: 2px;
    margin-top: 20px;
}