* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF-Pro', sans-serif;
}

/* Define the font for regular weight */
@font-face {
    font-family: 'SF-Pro';
    src: url('/fonts/SF-Pro.ttf') format('truetype');
    font-weight: normal;
    /* Could also use 400 here */
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro';
    src: url('/fonts/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: bold;
    /* Could also use 400 here */
    font-style: normal;
}

/* Define the font for thin weight */
@font-face {
    font-family: 'SF-Pro';
    src: url('/fonts/SF-Pro-Display-Thin.otf') format('opentype');
    font-weight: 100;
    /* 'thin' is usually 100 weight */
    font-style: normal;
}

.header {
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header__container-title,
.header__title-options {
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 20px;
    width: 100%;
    justify-content: center;
    display: flex;
}

.navbar {
    height: 30px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(0, 0, 0);
    border: solid rgb(0, 0, 0);
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
    background-color: #353535;

}

body,
html {
    background-color: rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
    height: 100%;

}

.usuarios {
    display: flex;
    padding: 30px;
    flex-direction: column;
    height: 100%;
    background-color: rgba(175, 175, 175, 0.486);
}

.usuarios__title {
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    border-radius: 15px;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.usuarios__center-padding {
    display: flex;    
}

.button--add {
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}

.usuarios__columns {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 20%;
    border-radius: 10px 10px 5px 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: solid rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}

.usuarios__table {
    width: 50%;
    background-color: #ffffff;
    justify-content: left;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}

th,
td {
    background-color: rgb(94, 93, 93);
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    padding: 8px;
    color: #e9e9e9;
}

.button--delete,
.button--edit {
    background-color: rgb(173, 0, 0);
    color: #ffffff;
    padding: 5px;
    border: none;
}

.button--edit {
    background-color: rgb(45, 68, 43);
   
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    color: white;
    letter-spacing: 20px;
    font-size: 15px;
    padding: 2px;
}