<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <title>CentroCosto</title>
    <link rel="stylesheet" type="text/css" href="css/stylePresupuesto.css" />
</head>

<body>
    <header th:fragment="header" class="header">
        <div class="header__container-tittle">
            <div class="header__tittle-options">
                <a>Centro de Costos</a>
            </div>
        </div>
        <div class="navbar">
            <a th:href="@{/home}">Inicio</a>
            <a th:href="@{/presupuesto}">Presupuesto</a>
            <a th:href="@{/gastos}">Gastos</a>
            <a th:href="@{/reportes}">Reportes</a>
            <a href="/usuarios">Usuarios</a>
        </div>
    </header>

    <section class="presupuestos">
        <div class="presupuestos__title">
            <a>Anadir Presupuesto</a>
        </div>
        <div class="formulario_presupuesto">
            <form action="#" th:action="@{/formulario_anadir}" th:object="${presupuesto}" method="post">
                <div>
                    <label for="idCentroCosto">ID Centro de Costo:</label>
                    <select id="idCentroCosto" name="idCentroCosto" required>
                        <option value="">Seleccione un Centro de Costo</option>
                        <option th:each="centro : ${centrosCosto}" th:value="${centro['ID_centro_costo']}" th:text="${centro['nombre_centro_costo']}"></option>
                    </select>
                </div>                
                <div>
                    <label for="idRubro">Rubro:</label>
                    <select id="idRubro" name="idRubro" required>
                        <option value="">Seleccione un Rubro</option>
                        <option th:each="rubro : ${rubros}" th:value="${rubro['ID_rubro']}" th:text="${rubro['nombre_rubro']}"></option>
                    </select>
                </div>
                <div>
                    <label for="mes">Mes:</label>
                    <input type="number" id="mes" name="mes" readonly>
                </div>
                <div>
                    <label for="anio">Año:</label>
                    <input type="number" id="anio" name="anio" readonly>
                </div>
                <div>
                    <label for="montoPresupuestado">Monto Presupuestado:</label>
                    <input type="number" id="montoPresupuestado" name="montoPresupuestado" required>
                </div>
                <div>
                    <button type="submit">Agregar Presupuesto</button>
                </div>
            </form>             
        </div>
    </section>
        <footer h:fragment="footer" class="footer">
            <a>@Centro de Costo</a>
        </footer>
        <script>
            window.onload = function() {
                var fechaActual = new Date();
                var mes = fechaActual.getMonth() + 1; // JavaScript cuenta los meses desde 0
                var anio = fechaActual.getFullYear();
        
                document.getElementById('mes').value = mes;
                document.getElementById('anio').value = anio;
            };
        </script>
        </body>

        </html>