<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <title>CentroCosto</title>
    <link rel="stylesheet" type="text/css" href="css/styleGastos.css" />
</head>

<body>
    <header th:fragment="header" class="header">
        <div class="header__title-container">
            <div class="header__title">
                <a>Centro de Costos</a>
            </div>
        </div>
        <nav class="navbar">
            <a th:href="@{/home}">Inicio</a>
            <a th:href="@{/presupuesto}">Presupuesto</a>
            <a th:href="@{/gastos}">Gastos</a>
            <a th:href="@{/reportes}">Reportes</a>
            <a href="/usuarios">Usuarios</a>
        </nav>
    </header>

    <section class="gastos">
        <div class="gastos__title">
            <a>Manejo de Gastos</a>
        </div>
        <div class="gastos__center-padding">
            <a th:href="@{/formulario-anadir-gasto}" class="button--add">Añadir Gasto</a>
            <a class="button--add">Total Presupuestado: <span th:text="${montoTotal}"></span></a>
            <a class="button--add">Monto en Proceso: <span th:text="${montoEnProceso}"></span></a>
            <a class="button--add">Total Gastado: <span th:text="${montoGastado}"></span></a>
           
        </div>
        <div class="gastos__columns">
            <div class="gastos__table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>rubro</th>
                            <th>cantidad</th>
                            <th>Precio</th>
                            <th>Eliminar</th>
                            <th>Comprar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="gasto : ${gastos}">
                            <td th:text="${gasto['rubro']}"></td>
                            <td th:text="${gasto['cantidad']}"></td>
                            <td th:text="${gasto['precio']}"></td>
                            <td>                                
                                <form th:action="@{/eliminar-permiso-compra}" method="post">
                                    <input type="hidden" name="idPermiso" th:value="${gasto['idPermiso']}">
                                    <button type="submit" class="button button--delete">Eliminar</button>
                                </form>
                            </td>
                            <td>
                                <form th:action="@{/comprar}" method="post">
                                    <input type="hidden" name="idPermiso" th:value="${gasto['idPermiso']}">
                                    <button type="submit" class="button button--edit">Comprar</button>
                                </form>                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="gastos__table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Rubro</th>
                            <th>Cantidad gastada</th>
                            <th># comprobante</th>
                            <th>Fecha comprobante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="detalle : ${comprasDetalles}">
                            <td th:text="${detalle['rubro']}"></td>
                            <td th:text="${detalle['cantidadGastada']}"></td>
                            <td th:text="${detalle['numeroComprobante']}"></td>
                            <td th:text="${#dates.format(detalle['fechaComprobante'], 'dd/MM/yyyy')}"></td>
                        </tr>
                    </tbody>
                </table>                
            </div>
        </div>
    </section>
    <footer th:fragment="footer" class="footer">
        <a>@Centro de Costo</a>
    </footer>
</body>

</html>