<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <title>CentroCosto</title>
    <link rel="stylesheet" type="text/css" href="css/styleUsuarios.css" />
</head>

<body>
    <header th:fragment="header" class="header">
        <div class="header__container-title">
            <div class="header__title-options">
                <a>Centro de Costos</a>
            </div>
        </div>
        <nav class="navbar">
            <a th:href="@{/home}">Inicio</a>
            <a th:href="@{/presupuesto}">Presupuesto</a>
            <a th:href="@{/gastos}">Gastos</a>
            <a>Reportes</a>
            <a href="/usuarios">Usuarios</a>
        </nav>
    </header>
    <div class="usuarios">
        <div class="usuarios__title">
            <a>Manejo de Usuarios</a>
        </div>

        <div class="buttons">
            <div class="usuarios__center-padding">
                <a class="button button--add center" href="/usuarios/anadir">anadir usuario</a>
            </div>
            <div class="usuarios__center-padding">
                <a class="button button--add center" href="/logout">Log out</a>
            </div>
        </div>
        <div class="usuarios__columns">
            <div class="usuarios__table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Correo Electrónico</th>
                            <th>ID Centro Costo</th>
                            <th>Contraseña</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usuario : ${usuarios}">
                            <td th:text="${usuario['ID_usuario']}">ID_usuario</td>
                            <td th:text="${usuario['nombre']}">Nombre</td>
                            <td th:text="${usuario['correo_electronico']}">Correo</td>
                            <td th:text="${usuario['ID_centro_costo']}">ID Centro Costo</td>
                            <td th:text="${usuario['contrasena']}">Contraseña</td>
                            <td>
                                <button class="button button--delete">Eliminar</button>
                                <button class="button button--edit">Editar</button>
                            </td>
                        </tr>
                        <tr th:if="${usuarios == null || usuarios.isEmpty()}">
                            <td colspan="6">No hay usuarios disponibles</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <footer th:fragment="footer" class="footer">
        <a>@Centro de Costo</a>
    </footer>
</body>

</html>